@use "sass:color";

$main: #100918;
$text: white;
$textLighter: #9a9a9a;
$backgroundCard: #363440;
$color1: rgb(226, 178, 157);
$color1lighter: rgba(226, 178, 157, 0.5);
$color1darkner: rgb(142, 111, 98);

$white: #fff;
$blue: rgba(37, 52, 65);
$black: #000;
